/build/
/build-logs
/ceph/
/corosync-pve/
/deps/
/frr/
/ifupdown2/
/ksm-control-daemon/
/lxc/
/perlmod/
/proxmox-acme/
/proxmox-firewall/
/proxmox-kernel-helper/
/proxmox-perl-rs/
/proxmox-rs/
/proxmox-ve/
/proxmox-ve-rs/
/proxmox-widget-toolkit/
/pve-cluster/
/pve-common/
/pve-container/
/pve-firewall/
/pve-ha-manager/
/pve-lxc-syscalld/
/pve-manager/
/pve-network/
/pve-qemu/
/pve-storage/
/pve-vgpu-helper/
/qemu-server/
/repo/
/ui/
/zfsonlinux/
/repo-proxmox/
/dist/
/dl/
